body {
    background-image: url("../../imagenes/hola.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 30px;
    background-color: rgb(170, 170, 170);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(13, 87, 84);
    outline: none;
    transition: all 300ms;
    margin-bottom: 40px;
    margin-left: 470px;
    font-weight: bold;
    border-radius: 20px;
    border-color: black;
}

h1 {
    text-align: center;
}

#miCanvas {
    width: 1080px;
    height: 800px;
    margin-left: 400px;
    margin-right: auto;
    background-color: transparent;
}