        body {
            background-image: url("../../imagenes/nun.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding: 20px 30px;
            background-color: rgb(234, 233, 240);
            font-size: 20px;
            font-weight: 600;
            color: rgb(6, 172, 94);
            margin-left: 50px;
            font-weight: bold;
            border-radius: 20px;
            bottom: -50px;
            position: relative;
            left: -240px;
        }
        
        #Canvas {
            width: 640px;
            margin: 0 auto;
            position: sticky;
            left: 375px;
            background-color: transparent;
            border: groove 2px rgb(238, 232, 232);
        }
        
        h1 {
            text-align: center;
        }
        
        button {
            background-color: transparent;
        }